<!DOCTYPE html>
<html>
<head>
  <title>SmRc89</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% unless @page_caching %>
		<div id="container">
		   <% flash.each do |name,msg| %>
			  <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>" ></div>
		      <!-- <a class="close" data-dismiss="alert">x</a> -->
	       <%= msg %>
		   <% end %>
	    </div>
    <% end %>
    
	
	<%= yield %>

</body>
</html>
